# List
 
 * iteration operation with loop
 * apply any operation on element

In [2]:
names : list[str] = ["Sir Zia", "Sir Qasim", "Dr Noman"]
print(names)

['Sir Zia', 'Sir Qasim', 'Dr Noman']

In [11]:
names : list[str] = ["Sir Zia", "Sir Qasim", "Dr Noman"]

for name in names[::-1]:
    print(name)
    print("PIAIC GEN AI Team\n")
    
print("Pakistan Zinadabad")

Dr Noman
PIAIC GEN AI Team

Sir Qasim
PIAIC GEN AI Team

Sir Zia
PIAIC GEN AI Team

Pakistan Zinadabad

In [31]:

data_base : list[tuple[str, str]] = [("Sir Qasim", "123"),
                                     ("Sir Zia", "234"),
                                     ("Sir Usman", "345")
                                     ]

for row in data_base:
                     user, password = row 
                     print(user[::], password)

SrQsm 123
SrZa 234
SrUmn 345

In [37]:
data_base : list[tuple[str, str]] = [("Sir Qasim", "123"),
                                     ("Sir Zia", "234"),
                                     ("Sir Usman", "345")
                                     ]

input_user : str = input("Enter User Name: ")
input_password : str = input("Enter Password: ")



for row in data_base:
                     user, password = row 
                     if input_user == user and input_password == password:
                       print("Valid User")
                       print("Your data:\t" + input_user + "\t" + input_password)
                       break   
else:
     print("Not found || Invalid User")

Valid User
Your data: 	Sir Zia	234

In [42]:
data_base : list[tuple[str, str]] = [("Sir Qasim", "123"),
                                     ("Sir Zia", "234"),
                                     ("Sir Usman", "345")
                                     ]

input_user : str = input("Enter User Name: ")
input_password : str = input("Enter Password: ")
print("Your data: " + input_user + " \t" + input_password)


for row in data_base:
                     user, password = row 
                     if input_user == user and input_password == password:
                       print("Valid User")
                       
                       break   
else:
     print("Not found || Invalid User")

Your data: Sir Zia 	123
Not found || Invalid User

# Indentation

In [43]:
message : str = "Hello, I am Muhammad Hassaan"

# We cannot give a single space here ok 
# print(message)

print(message)

Hello, I am Muhammad Hassaan

In [45]:
magicians : list[str] = ["alice", "david", "carolina"]

for magician in magicians:
     print(f"{magician.title()}, that was a great trick!")
     print(f"I can't wait to see your next trick, {magician.title()}. \n")

print("Thank you, everyone that was a great show!")

Alice, that was a great trick!
I can't wait to see your next trick, Alice.

David, that was a great trick!
I can't wait to see your next trick, David.

Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

Thank you, everyone that was a great show!

# Numbers with loop
 * range(start, end, step)

In [46]:
# It is a generative function
range(10)

range(0, 10)

In [47]:
list(range(10)) # starting = 0 and ending = n-1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list(range(2,10)) # starting = 2 and ending = n-1

In [50]:
list(range(2,21,2)) # Here it says start from 2 
                    # End on 21  as we know end = n-1
                    # The last one indicates the step

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

# Loop with range

In [52]:
for n in range(1,11):
    print(n)

1
2
3
4
5
6
7
8
9
10

In [53]:
for n in range(1,11):
    print(f"{2} X {n} = {n*2}")

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [54]:
squares: list[int] = []
for value in range(1, 11):
    square = value ** 2
    squares.append(square)
    
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# List Comprehensive

```
for item in items_list:
            loop_body
```

### Comprehensive Style

```
[ loop_body for item in items_list: ]

```

In [55]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [56]:
for i in range(1,11):
    print(i**2)

1
4
9
16
25
36
49
64
81
100

In [58]:
[i**2 for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [59]:
digits : list[int] = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

print(digits)
print(max(digits))
print(min(digits))
print(sum(digits))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
9
0
45

# Try it your self