In [5]:
from typing import Dict, Union, Optional

key = Union[str, int]
Value = Union[int, list, dict, tuple, str, set]

data : Dict[key, Value] = {"fname": "Shaukat Ali",
                         "name": "Muhammad Hassaan",
                         "education": "Inter in Computer Science",
                        
                         }

    

methods : list[str] = [m for m in dir(data) if "__" not in m]
print(methods)

['clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [6]:
from typing import Dict, Union, Optional

key = Union[str, int]
Value = Union[int, list, dict, tuple, str, set]

data : Dict[key, Value] = {"fname": "Shaukat Ali",
                         "name": "Muhammad Hassaan",
                         "education": "Inter in Computer Science",
                        
                         }

    
print("Before", data)
data.clear()
print("After", data)
methods : list[str] = [m for m in dir(data) if "__" not in m]
print(methods)

Before {'fname': 'Shaukat Ali', 'name': 'Muhammad Hassaan', 'education': 'Inter in Computer Science'}
After {}
['clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [7]:
from typing import Dict, Union, Optional

key = Union[str, int]
Value = Union[int, list, dict, tuple, str, set]

data : Dict[key, Value] = {"fname": "Shaukat Ali",
                         "name": "Muhammad Hassaan",
                         "education": "Inter in Computer Science",
                        
                         }

    
print("Before", data)

del data
# It will show error beacause there is no object present
print("After", data)
methods : list[str] = [m for m in dir(data) if "__" not in m]
print(methods)

Before {'fname': 'Shaukat Ali', 'name': 'Muhammad Hassaan', 'education': 'Inter in Computer Science'}

NameError: name 'data' is not defined

In [12]:
from typing import Dict, Union, Optional

key = Union[str, int]
Value = Union[int, list, dict, tuple, str, set]

data : Dict[key, Value] = {"fname": "Shaukat Ali",
                         "name": "Muhammad Hassaan",
                         "education": "Inter in Computer Science",
                        
                         }

    
print("Before", data)

a : str = data.pop("education")
# It will show error beacause there is no object present

print("After", data)

Before {'fname': 'Shaukat Ali', 'name': 'Muhammad Hassaan', 'education': 'Inter in Computer Science'}
After {'fname': 'Shaukat Ali', 'name': 'Muhammad Hassaan'}

In [14]:
from typing import Dict, Union, Optional

key = Union[str, int]
Value = Union[int, list, dict, tuple, str, set]

data : Dict[key, Value] = {"fname": "Shaukat Ali",
                         "name": "Muhammad Hassaan",
                         "education": "Inter in Computer Science",
                        
                         }

    
print("Before", data)

a : str = data.popitem()
print(a)

print("After", data)

Before {'fname': 'Shaukat Ali', 'name': 'Muhammad Hassaan', 'education': 'Inter in Computer Science'}
('education', 'Inter in Computer Science')
After {'fname': 'Shaukat Ali', 'name': 'Muhammad Hassaan'}

In [15]:
from typing import Dict, Union, Optional

key = Union[str, int]
Value = Union[int, list, dict, tuple, str, set]

data : Dict[key, Value] = {"fname": "Shaukat Ali",
                         "name": "Muhammad Hassaan",
                         "education": "Inter in Computer Science",
                        
                         }

    
print("Before", data)

a : str = data.get("Pakistan", "NA")
print(a)

print("After", data)

Before {'fname': 'Shaukat Ali', 'name': 'Muhammad Hassaan', 'education': 'Inter in Computer Science'}
NA
After {'fname': 'Shaukat Ali', 'name': 'Muhammad Hassaan', 'education': 'Inter in Computer Science'}

In [16]:
from typing import Dict, Union, Optional

key = Union[str, int]
Value = Union[int, list, dict, tuple, str, set]

data : Dict[key, Value] = {"fname": "Shaukat Ali",
                         "name": "Muhammad Hassaan",
                         "education": "Inter in Computer Science",
                        
                         }

    
print("Before", data)

a : str = data.setdefault("Pakistan", "NA") # Set defeault adds the value
print(a)

print("After", data)

Before {'fname': 'Shaukat Ali', 'name': 'Muhammad Hassaan', 'education': 'Inter in Computer Science'}
NA
After {'fname': 'Shaukat Ali', 'name': 'Muhammad Hassaan', 'education': 'Inter in Computer Science', 'Pakistan': 'NA'}

In [18]:
from typing import Dict, Union, Optional

key = Union[str, int]
Value = Union[int, list, dict, tuple, str, set]

data : Dict[key, Value] = {"fname": "Shaukat Ali",
                         "name": "Muhammad Hassaan",
                         "education": "Inter in Computer Science",
                        
                         }

data1 : Dict[key, Value] = {"name": "M.Hassaan Shaukat",
                            "age": 30,
                            "Height": "6-Feet"}

data.update(data1)

print(data)

{'fname': 'Shaukat Ali', 'name': 'M.Hassaan Shaukat', 'education': 'Inter in Computer Science', 'age': 30, 'Height': '6-Feet'}

In [20]:
import pandas as pd
from typing import Any

students_data : Dict[str, list[Any]] = {
    "roll no" : [1, 2, 3],
    "Name" : ["Sir Zia", "Sir Inam", "Sir Qasim"],
    "Education" : ["Master", "Master", "Master"]
}

df : pd.DataFrame = pd.DataFrame(students_data)

df

   roll no       Name Education
0        1    Sir Zia    Master
1        2   Sir Inam    Master
2        3  Sir Qasim    Master

In [21]:
from typing import Dict, Union, Optional

key = Union[str, int]
Value = Union[int, list, dict, tuple, str, set]

data : Dict[key, Value] = {"fname": "Shaukat Ali",
                         "name": "Muhammad Hassaan",
                         "education": "Inter in Computer Science",
                        "name" : "M.Hassaan Shaukat"
                         }

print(data)

{'fname': 'Shaukat Ali', 'name': 'M.Hassaan Shaukat', 'education': 'Inter in Computer Science'}