In [2]:
import pandas as pd

table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')

table[1]

   Operator  Example     Same As    Try it
0         =    x = 5       x = 5  Try it »
1        +=   x += 3   x = x + 3  Try it »
2        -=   x -= 3   x = x - 3  Try it »
3        *=   x *= 3   x = x * 3  Try it »
4        /=   x /= 3   x = x / 3  Try it »
5        %=   x %= 3   x = x % 3  Try it »
6       //=  x //= 3  x = x // 3  Try it »
7       **=  x **= 3  x = x ** 3  Try it »
8        &=   x &= 3   x = x & 3  Try it »
9        |=   x |= 3   x = x | 3  Try it »
10       ^=   x ^= 3   x = x ^ 3  Try it »
11      >>=  x >>= 3  x = x >> 3  Try it »
12      <<=  x <<= 3  x = x << 3  Try it »

In [1]:
a : int = 11
b : int = 3

print(a % b)

2

In [2]:
print(2 ** 2) # ** It is a power operator 
print(2 ** 3)

4
8

In [5]:
# Floor Division Operator
print(13 // 4) # It does not give us answer in float


# It is a simple Division Operator it can give us bothe in float and division
print(13 / 4)

3
3.25

In [12]:
# += Operator

a : int = 20
print(a)

# For adding value in a variable 

# OLD method

a = a + 2
print(a)

# New Method

a += 3
print(a)

20
22
25

In [13]:
a : int = 20
print(a)

# Operators: +=, -+, *=, /=, %=, **=, //=

a -= 5
print(a)

a *= 4
print(a)

a /= 6
print(a)

a %= 4
print(a)

a **= 4
print(a)

a //= 6
print(a)

20
15
60
10.0
2.0
16.0
2.0

# Comparison Operators

In [15]:
table[2]

  Operator                      Name Example    Try it
0       ==                     Equal  x == y  Try it »
1       !=                 Not equal  x != y  Try it »
2        >              Greater than   x > y  Try it »
3        <                 Less than   x < y  Try it »
4       >=  Greater than or equal to  x >= y  Try it »
5       <=     Less than or equal to  x <= y  Try it »

In [20]:
# It is only use for the value checking (===)
a : int = 4
b: str = '7'

print( a == b )

a : int = 4
b: str = 7

print( a == b )

False
False

In [21]:
a : int = 4
b: int = 4

print( a == b )

a : int = 4
b: str = '4'

print( a == b )

True
False

In [26]:
# !=

a : int = 4
b: int = 7

print( a != b )

True

In [27]:
# >

a : int = 4
b: int = 7

print( a > b )

False

In [28]:
# >

a : int = 8
b: int = 7

print( a > b )

True

In [29]:
# <

a : int = 4
b: int = 7

print( a < b )

True

In [30]:
# >

a : int = 8
b: int = 7

print( a > b )

True

In [34]:
# >=

a : int = 4
b: int = 7

print( a >= b )

# <=

a : int = 4
b: int = 7

print( a <= b )

a : int = 7
b: int = 7

# if we remove equal operator

print( a < b )

a : int = 7
b: int = 7

print( a > b )

False
True
False
False

# Python Logical Operators

In [35]:
table[3]

,Operator,Description,Example,Try it
0,and,Returns True if both statements are true,x < 5 and x < 10,Try it »
1,or,Returns True if one of the statements is true,x < 5 or x < 4,Try it »
2,not,"Reverse the result, returns False if the resul...",not(x < 5 and x < 10),Try it »

In [36]:
# For True all conditions should be True
print(True and True and True)

# If a single condition is false then it will return false
print(True and True and False)

True
False

In [37]:
# For True if one conditions is True, it return True
print(True or False or False)

True

In [41]:
# It will invert the vale
print(not True) 

name: str = "Muhammad Hassaan"
print(not name == 'Hassaan')

False
True

# Python Identity Operators

In [43]:
table[4]

,Operator,Description,Example,Try it
0,is,Returns True if both variables are the same ob...,x is y,Try it »
1,is not,Returns True if both variables are not the sam...,x is not y,Try it »

In [46]:
x : str = 'abc'
z : str = 'abc'

print(id(x))
print(id(z))

# is operator check whether on the backend on the physical address are they same
print(x is z)

print(x is not z)

# If I have many variables I have to check are they same on backend or not we use (is)
# operator for it

140733105901832
140733105901832
True
False

# Python Membership Operator

In [3]:
table[5]

,Operator,Description,Example,Try it
0,in,Returns True if a sequence with the specified ...,x in y,Try it »
1,not in,Returns True if a sequence with the specified ...,x not in y,Try it »

In [7]:
name : list[str] = ['Sir Zia', 'Sir Inam', 'Sir Qasim']

'Sir' not in name

True

In [8]:
name : list[str] = ['Sir Zia', 'Sir Inam', 'Sir Qasim']

uinput : str = input("Enter your name:")

uinput not in name

True

# PEMDAS

In [9]:
# In python we work according to the PEMDAS
# Paranthesis()
# Exponent or power
# Multiplication, Division, Addition and Subtraction

print(3 + 2 - 2 * 4 / 2 +2)

3.0

To solve the given equation, you should follow the order of operations (PEMDAS/BODMAS), which stands for Parentheses/Brackets, Exponents/Orders (i.e., powers and square roots, etc.), Multiplication and Division (left-to-right), and Addition and Subtraction (left-to-right). In this case, there are no parentheses or exponents, so you simply follow the order of multiplication and division from left to right, followed by addition and subtraction from left to right:

* 6 * 5 = 30
* 6 / 6 = 1
* 9 / 6 = 1.5
* 1.5 * 10 = 15
Now, substitute these values back into the equation and continue:

* 6 * 5 + 4 - 1 - 15 - 2

Now, perform the remaining addition and subtraction:

* 30 + 4 = 34
* 34 - 1 = 33
* 33 - 15 = 18
* 18 - 2 = 16
So, the solution to the equation is 16.

In [14]:
print(6 * 5 + 4 -6 / 6 -9 / 6 * 10 -2 )

16.0

In [15]:
# Here the variable and value have indexing
# It is unzipped
#0, 1, 2    0         1   2 
a, b, c = 'Muhammad', 10, True
print(a)
print(b)
print(c)

Muhammad
10
True