# String Data Type in Python

In [11]:
# Boundaries
# 'text', "text", '''text''', """Text"""
name: str = "Muhammad Hassaan"
print(type(name))
print(name)

<class 'str'>
Muhammad Hassaan
<class 'str'>
Muhammad Hassaan

In [ ]:
# Boundaries
# 'text', "text", '''text''', """Text"""
fname: str = 'Shaukat Ali'
print(type(fname))
print(fname)

In [10]:
# Boundaries
# 'text', "text", '''text''', """Text"""
name: str = '''Muhammad Hassaan'''
print(type(name))
print(name)

<class 'str'>
Muhammad Hassaan

In [9]:
# Boundaries
# 'text', "text", '''text''', """Text"""
name: str = """Muhammad Hassaan"""
print(type(name))
print(name)

<class 'str'>
Muhammad Hassaan

# Converting Special Character in to the Simple Character

In [ ]:
# Boundaries
# 'text', "text", '''text''', """Text"""

# Again error

message: str = "PIAIC, " Student Card " \n Father's Name"
print(message)

In [12]:
# Boundaries
# 'text', "text", '''text''', """Text"""

# Now Solution to the error's above 
# Now convert them in to simple character by: \
    
message: str = "PIAIC, \" Student Card \" \n Father's Name"
print(message)

message1: str = 'PIAIC, "Student Card" \n Father \'s Name'
print(message1)

In [21]:
# Boundaries
# 'text', "text", '''text''', """Text"""

# Now Solution to the error's above 
# Now convert them in to simple character by: \
    
name: str = "Muhammad Hassaan"
fname: str = "Shaukat Ali"
Education : str = "Inter in Computer Science"
age: int = 17

# It will give us type error becuase we cannot add string in to integer: "a" + 7 .... Error
# Either we convert age in to string by manually or by functions:
# 1. "a" + str(7)...[for long funtions/message it will be difficult]  2.

card: str = "PIAIC Student Card\nStudent Name: " + name + "\nStudent's Age: " + str(age) + "\nFather's Name: " + fname                              
print(card)

PIAIC Student Card
Student Name: Muhammad Hassaan
Student's Age:17
Father's Name: Shaukat Ali

# " \ " is used for line continue

In [22]:
#Example

print(7 + \
    8 + \
        4)

19

In [23]:
# Boundaries
# 'text', "text", '''text''', """Text"""

# Now Solution to the error's above 
# Now convert them in to simple character by: \
    
name: str = "Muhammad Hassaan"
fname: str = "Shaukat Ali"
Education : str = "Inter in Computer Science"
age: int = 17

# It will give us type error becuase we cannot add string in to integer: "a" + 7 .... Error
# Either we convert age in to string by manually or by functions:
# 1. "a" + str(7)...[for long funtions/message it will be difficult]  

card: str = "PIAIC Student Card\nStudent Name: " + \
name + "\nStudent's Age: " + str(age) + \
    "\nFather's Name: " + fname + \
     "\nEducation: "  + Education                            
print(card)

PIAIC Student Card
Student Name: Muhammad Hassaan
Student's Age: 17
Father's Name: Shaukat Ali
Education: Inter in Computer Science

# Using multi-line string: """ text """, ''' text ''' for more simplicity

In [26]:
# Boundaries
# 'text', "text", '''text''', """Text"""

# Now Solution to the error's above 
# Now convert them in to simple character by: \
    
name: str = "Muhammad Hassaan"
fname: str = "Shaukat Ali"
Education : str = "Inter in Computer Science"
age: int = 17

card: str = """ 
PIAIC Student Card
Student Name: ........
Father's Name: ........
Age: .......
Education: ..........
"""

print(card)

PIAIC Student Card
Student Name: ........
Father's Name: ........
Age: .......
Education: ..........

# F- String The most powerful feature in the Python

In [7]:
# Boundaries
# 'text', "text", '''text''', """Text"""

# Now Solution to the error's above 
# Now convert them in to simple character by: \
    
name: str = "Muhammad Hassaan"
fname: str = "Shaukat Ali"
education : str = "Inter in Computer Science"
age: int = 17

card: str = f""" 
PIAIC Student Card
Student Name: {name}
Father's Name: {fname}
Age: {age}
Education: {education}
"""

print(card)

PIAIC Student Card
Student Name: {name}
Father's Name: {fname}
Age: {age}
Education: {education}

In [8]:
# Boundaries
# 'text', "text", '''text''', """Text"""

# Now Solution to the error's above 
# Now convert them in to simple character by: \
    
name: str = "Muhammad Hassaan"
fname: str = "Shaukat Ali"
education : str = "Inter in Computer Science"
age: int = 17

card: str = f""" 
PIAIC Student Card
Student Name: {name}
Father's Name: {fname}
Age: {age}
Education: {education}

Total: {2 + 8 + 9}
"""

print(card)

PIAIC Student Card
Student Name: {name}
Father's Name: {fname}
Age: {age}
Education: {education}

Total: {2 + 8 + 9}

In [6]:
# F-String one more format

name: str = "Muhammad Hassaan"
fname: str = "Shaukat Ali"
education : str = "Inter in Computer Science"
age: int = 17

card: str = f""" 
PIAIC Student Card
Student Name: %s
Father's Name: %s
Age: %i
Education: %s

Total: {2 + 8 + 9}
"""%(name, fname, age, education)

print(card)

PIAIC Student Card
Student Name: Muhammad Hassaan
Father's Name: Shaukat Ali
Age: 17
Education: Inter in Computer Science

Total: {2 + 8 + 9}

# F-string and Jinja Style

In [ ]:
#JINJA STYLE
""" 
student name: {{name}}
"""

# String Method here

pre-defined global functions 

* print
* type
* id
* dir
* len

In [39]:

name: str = "MuhaMmaD hasSaaN"
print(name.capitalize())
print(name.upper())
print(name.title())
print(name.casefold())

# For finding all the methods
[i for i in dir(str) if "_" not in i]

Muhammad hassaan
MUHAMMAD HASSAAN
Muhammad Hassaan
muhammad hassaan

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [40]:
a = 7
b = 8
# place holder
#                     0                1         0,1                
"value a  = {} and value b = {}".format(a,b)

'paksitan value a  = 7 and value b = 8'

In [42]:
student_code: str = """
print("My name is Muhammad Hassaan")
a: int = 7
b: int = 33
print(a + b)

"""
exec(student_code)

My name is Muhammad Hassaan
40

In [43]:
# explore string method and attribute

a: list[str] = [i for i in dir(str) if "_" not in i]
print(a)
print(len(a))

['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
46

In [1]:
name: str = "          Muhammad Hassaan             "

# variable_name.method()
display(name)
display(name.strip())
display(name.lstrip())
display(name.rstrip())

'          Muhammad Hassaan             '

'Muhammad Hassaan'

'Muhammad Hassaan             '

'          Muhammad Hassaan'

In [5]:
import re

name: str = "          Muhammad                 Hassaan             "
print(name)

name1: str = re.sub(' {1,100}',' ', name).strip()
display(name1)

          MuhammAd                 HassAan

'MuhammAd HassAan'

# Removing String

In [16]:
a: str = 'My name is Muhammad Hassaan'
a.removeprefix('My name is')

's Muhammad Hassaan'

In [14]:
a: str = 'My name is Muhammad Hassaan'

a.removesuffix('Muhammad Hassaan')

'My name is '

# Book TRY IT YOURSLEF

In [17]:
# Simple Message

message: str = "Hey, Muhammad How are you doing?"
display(message)

'Hey, Muhammad How are you doing?'

In [ ]:
# Simple Messages

message: str = "Hey, Muhmmad How are you doing?"
display(message)

# Changing the value of the message

message: str = "Hey, Muhammad, is your assignment completed?"
display(message)

In [18]:
# Personal Message

full_name: str = "Muhammad Hassaan Shaukat"
print("Hi, " + full_name + " Are you learning python?")

Hi, Muhammad Hassaan ShaukatAre you learning python?

In [19]:
# Name Cases

name: str = "MuhaMmad HasSaAn"
print(name.upper())
print(name.lower())
print(name.title())

MUHAMMAD HASSAAN
muhammad hassaan
Muhammad Hassaan

In [1]:
# Famous Quote

print("""Albert Einstein once said, “A person who never made a mistake never 
tried anything new.” """)

Albert Einstein once said, “A person who never made a mistake never
tried anything new.”

In [5]:
# Famous Quote(2)

famous_person: str = "Bill Gates! "
message: str = "If you can’t make it good, at least make it look good."

print(famous_person + "" + message)

Bill Gates: If you can’t make it good, at least make it look good.

In [17]:
# Stripping Names

name: str = "     Muhammad Hassaan         "
display(name.strip())
display(name.lstrip())
display(name.rstrip())
display(name.rstrip().lstrip())

'Muhammad Hassaan'

'Muhammad Hassaan         '

'     Muhammad Hassaan'

'Muhammad Hassaan'

In [19]:
# File Extension

file_name: str = "class-2.py"
display(file_name.removesuffix('.py'))
display(file_name.removeprefix('class-'))

'class-2'

'2.py'

In [4]:
import this
print("The Zen of Python, by Tim Peters Beautiful is better than ugly")
print("The zen of python, By Muhammad Hassaan if you will glow then you will blow")

The zen of python, By Muhammad Hassaan if you will glow then you will blow